<% provide(:title, 'Contact') %>

<div class="panel panel-primary contact-panel">
	<div class="panel-heading">
		Michael Marvick
	</div>

	<div class="panel-body">
		Portland, OR, USA <br />
		<a href="mailto:mmarvick@gmail.com">mmarvick@gmail.com</a> <br />
		+1 (425) 681-3383

		<div class="contact-icons">
			<a href="http://www.github.com/mmarvick">
				<img alt="GitHub" src="<%= image_path("GitHub-Mark-32px.png")%>" class="contact-icon" />
			</a>

			<a href="http://www.linkedin.com/in/mmarvick">
				<img alt="LinkedIn" src="<%= image_path("LinkedIn-InBug-2CRev.png")%>" class="contact-icon" />
			</a>

			<a href="http://www.twitter.com/MichaelMarvick">
				<img alt="Twitter" src="<%= image_path("Twitter_logo_blue.png")%>" class="contact-icon"/>
			</a>			
		</div>

		<div class="contact-photo">
			<img class="img-circle" src="https://s.gravatar.com/avatar/eafef357cb838708cb6217f90710425a?s=120" alt="Michael Marvick">
		</div>

	</div>
</div>

<p>
	I'm a developer and entrepeneur in the Portland area.
</p>

<p>
	I like making things that improve people's lives. A few areas I'm really interested in are education, health, and cooking.
</p>

<p>
	When I'm not making stuff, I like biking and running. I'm currently training up for my first triathlon, and have found a new passion in swimming along the way!
</p>

<p>
	I teach a high school AP Computer Science class through the <a href="http://www.tealsk12.org">TEALS program</a> with a few other people.
</p>

<p>
	I currently work at <a href="https://www.simple.com">Simple</a>. It's pretty awesome.
</p>

<p>
	I'm always looking for cool new projects, so if you have any ideas or you want help on something, please reach out!
</p>