<% provide(:title) %>

    <div class="container">
      <div class="col-sm-12">
	      <div class="starter-template">
	        <h1>Welcome</h1>
	        <p class="lead">This is Michael Marvick's home page. </p>
	        <img class="img-circle" src="https://s.gravatar.com/avatar/eafef357cb838708cb6217f90710425a?s=160" alt="Generic placeholder image">
	      </div>
  	  </div>

    </div>