<% provide(:title, 'Home') %>

    <div class="container">

      <div class="starter-template">
        <h1>Welcome</h1>
        <p class="lead">This is Michael Marvick's home page.<br> It's not pretty yet. Something is to come.</p>
        <img class="img-circle" src="https://s.gravatar.com/avatar/eafef357cb838708cb6217f90710425a?s=160" alt="Generic placeholder image">
      </div>

    </div>