<% provide(:title, 'Projects - Urgent Call') %>

<h1>Urgent Call</h1>


	<div class = "uc well">		
		<div class = "row">
			<div class = "uc col-sm-4">
				<script src="//neon.galleriadisplay.com/466c811b1ed664a77f04664421192643c2dd68f1/init.js"></script>
				<script>
				    GD.configure({
				        height: 600,
				        showImagenav: false,
				        clicknext: true
				    })
				</script>
			</div>

			<div class = "uc col-sm-8">
				<p>
					Urgent Call gives users peace of mind by allowing them to silence their phone and still receive alerts when they're needed most. Alerts can be triggered by:
				</p>
				<ul>
					<li>Text messages contaning a customizable key word</li>
					<li>Multiple repeat calls in succession</li>
					<li>A single call from a preselected important caller</li>
				</ul>
				<p>

				</p>
			</div>
		</div>
	</div>
