<% provide(:title, 'Projects - Urgent Call') %>

	<div class = "uc well section">
		<!-- <p class = "uc section-title">
			Urgent Call
		</p> -->
		<div class = "uc row project-show">
			<div class = "uc col-sm-4">
				<div id="galleria">
	                <img 
	                    src="//neon.galleriadisplay.com/m/33/4f/82fa73e9327fff81a775be8e7d988132d044_506x900.jpg"
	                    data-description="Quickly turn off all alerts or view the status of different alerts"
	                    alt="Quickly turn off all alerts or view the status of different alerts"
	                >

	                <img 
	                    src="//neon.galleriadisplay.com/m/ec/6d/eee8ca21eb7a33ac76aa4595518c000e07e9_506x900.jpg"
	                    data-description="Customize each alert with different parameters, including who can trigger it"
	                    alt="Customize each alert with different parameters, including who can trigger it"
	                >

	                <img 
	                    src="//neon.galleriadisplay.com/m/89/7f/ad3ac4015abc7ed3c4add6ea71aa62ae83c8_506x900.jpg"
	                    data-description="Select who can trigger each alert"
	                    alt="Select who can trigger each alert"
	                >

	                <img 
	                    src="//neon.galleriadisplay.com/m/cb/c9/1054068964db763086a3af1b982e6545e109_506x900.jpg"
	                    data-description="Add or remove users from allow and block lists for each alert"
	                    alt="Add or remove users from allow and block lists for each alert"
	                >

	                <img 
	                    src="//neon.galleriadisplay.com/m/b2/b4/aceb58069ea30dac6ac4b797bbe0636ae546_506x900.jpg"
	                    data-description="Description of the Single Call Alert when it's off"
	                    alt="Description of the Single Call Alert when it's off"
	                >

	                <img 
	                    src="//neon.galleriadisplay.com/m/ac/5b/0628a63f0ce2c8664517aeae0501940d5bfa_506x900.jpg"
	                    data-description="Snooze all alerts temporarily"
	                    alt="Snooze all alerts temporarily"
	                >
		        </div>

			</div>

			<div class = "uc col-sm-8 project-info">
				<div class = "project-descrip">
					<h3>
						Urgent Call gives users peace of mind, allowing them to silence their phone and still receive alerts when they're needed most.
					</h3>
					<p>
						Alerts are triggerable by:
					</p>
					<ul>

						<li>Text messages contaning a customizable key word</li>
						<li>Multiple repeat calls in succession</li>
						<li>A single call from an important caller</li>

					</ul>
					<p>
						Primary learnings from this project include:
					</p>
					<ul>

						<li>Careful evaluation of tradeoffs between form and function to keep the user interface clean and simple, yet filled with enough customization to satisfy most users</li>
						<li>Continuous design review to make the interface simpler and more intuitive based on personal intuition, observation and feedback from users, and study of the Android Design documentation</li>
						<li>Storing preferences in lists and databases as appropriate, and storing in a way that is accessible and easily to upgrade as features are added</li>	
						<li>Using helper functions to access preference data, making code more maintainable as data structures change</li>
						<li>Frequent code refactorization to keep the codebase managable and maintainable</li>	
					</ul>

					<p>
						Keeping a clean and simple interface was a critical concern for this project, especially since most users will rarely change the alert settings after the first time. To demo some of this progress, screenshots and package files of older iterations are included below.
					</p>
				</div>

				<ul class="uc downloads simplelist">

					<li>
						<a href="https://play.google.com/store/apps/details?id=com.mmarvick.urgentcall_lite">
							View on play store
						</a>
					</li>
					<li>
						<a href="https://github.com/mmarvick/phone-alert-app">
							View source code
						</a>
					</li>
					<li>
						<a href="https://github.com/mmarvick/phone-alert-app/raw/master/other/apk/04_UrgentCallPro_26f93644c88b6632b7d4639d164bd7ef5971d220.apk">
						Download package file
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>


	<div class = "uc well">		
		<p class = "uc section-title">
			Previous Designs
		</p>
		<div class = "uc row project-old">

			<div class = "uc col-sm-4 old-project-show">

				<p class = "uc old-project-title">
					Commit #33
				</p>

				<div id="galleria1">

		            <img
		            	src="//neon.galleriadisplay.com/m/d9/53/7c0e87d3a71f97f7781b551782e5cc87ed61_506x900.jpg"
		            	alt="Screenshot"
		            >

					<img
						src="//neon.galleriadisplay.com/m/fb/b3/3123d963baca29c86bab82f10124b6e0c5ca_506x900.jpg"
						alt="Screenshot"
					>		            

					<img
						src="//neon.galleriadisplay.com/m/15/ee/9726a0563fcb7ec239ab43ce78f02e0d262a_506x900.jpg"
						alt="Screenshot"
					>



		        </div>

				<ul class="simplelist">

					<li>
						<a href="https://github.com/mmarvick/phone-alert-app/tree/a58d241a0c086739d2034d997102f086ce0fe6e2">
							View source code
						</a>
					</li>
					<li>
						<a href="https://github.com/mmarvick/phone-alert-app/raw/master/other/apk/01_UrgentCall_a58d241a0c086739d2034d997102f086ce0fe6e2.apk">
						Download package file
						</a>
					</li>

			</ul>
			</div>
	
			<div class = "uc col-sm-4 old-project-show">

				<p class = "uc old-project-title">
					Commit #57
				</p>	

				<div id="galleria2">

		            <img
			            src="//neon.galleriadisplay.com/m/7b/32/a14c49df2c9f168f7d67d4f1cde56b7f4674_506x900.jpg"
			            alt="Screenshot"
		            >

					<img
						src="//neon.galleriadisplay.com/m/77/77/61496b743694bcbc06f0bd5fc39168c9dc7e_506x900.jpg"
						alt="Screenshot"
					>

					<img
						src="//neon.galleriadisplay.com/m/91/1d/5a2eea240776be60c722e2226c5faf885f27_506x900.jpg"
						alt="Screenshot"
					>
					
		        </div>

				<ul class="simplelist">

					<li>
						<a href="https://github.com/mmarvick/phone-alert-app/tree/c892466d25671680ca882495df7642582f5fd00e">
							View source code
						</a>
					</li>
					<li>
						<a href="https://github.com/mmarvick/phone-alert-app/raw/master/other/apk/02_UrgentCallPro_c892466d25671680ca882495df7642582f5fd00e.apk">
						Download package file
						</a>
					</li>

			</ul>
			</div>

			<div class = "uc col-sm-4 old-project-show">

				<p class = "uc old-project-title">
					Commit #94
				</p>

				<div id="galleria3">

		            <img
		            	src="//neon.galleriadisplay.com/m/4f/d8/4dfa219033f7c2c46ae8430439df2650790b_506x900.jpg"
		            	alt="Screenshot"
		            >

					<img
						src="//neon.galleriadisplay.com/m/18/bd/f7cde9cca55c4445d259aa56efb4180f597c_506x900.jpg"
						alt="Screenshot"
					>

					<img
						src="//neon.galleriadisplay.com/m/86/6d/0ddacaee7b6eb2079fd7f78e471a3550ad72_506x900.jpg"
						alt="Screenshot"
					>

					<img
						src="//neon.galleriadisplay.com/m/2e/39/6767a8a22606b126a6f9bd0a1f8fbb70c6af_506x900.jpg"
						alt="Screenshot"
					>
					
		        </div>

				<ul class="simplelist">

					<li>
						<a href="https://github.com/mmarvick/phone-alert-app/tree/000957cf23c8e2a643cc5cf4160c32e31358513a">
							View source code
						</a>
					</li>
					<li>
						<a href="https://github.com/mmarvick/phone-alert-app/raw/master/other/apk/03_UrgentCallPro_000957cf23c8e2a643cc5cf4160c32e31358513a.apk">
						Download package file
						</a>
					</li>

			</ul>
			</div>			

		</div>
	</div>


	<script>
		Galleria.loadTheme('<%= javascript_path "galleria/themes/classic/galleria.classic.min.js" %>');
		Galleria.configure({
			thumbnails: "numbers"
		});
		Galleria.run('#galleria');
		Galleria.run('#galleria1');
		Galleria.run('#galleria2');
		Galleria.run('#galleria3');
	</script>