<% @navlinks = [ #{name: 'Home', url: root_url},
				{name: 'Portfolio', url: root_url},
        #{name: 'About', url: about_url},
				{name: 'Contact', url: contact_url},
        {name: 'Log Out', url: log_out_url, admin: true}
				] %>

<header>
  <%= link_to root_url, id: "logo" do %>
    <h1> Michael Marvick </h1>
  <% end %>
  <nav>
    <ul>
    <% @navlinks.each do |link| %>
      <% if not link[:admin] or current_user %>
       <li> <%= link_to link[:name], link[:url], class: (title == link[:name] ? "selected" : "unselected") %> </li>
      <% end %>
    <% end %>     
    </ul>
  </nav>
</header>				