	<li >
		<ul class="project well">
			<li class="project-thumb">
				<img src= <%= project.image_url %> alt= <%= project.title %> height="42" width="42">
			</li>	
			<span class="project-body">
				<li class="project-title">
					<%= project.title %>
				</li>
				<li class="project-descrip">
					<%= project.description %>
				</li>
			</span>
		</ul>
	</li>