/******************************
 GENERAL
******************************/

#wrapper {
  margin: 0 5%;
}


/******************************
 HEADER
******************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;  
  background-color: #5E412F;
  color: #FCEBB6;
}

#logo {
  width: 100%;
  text-align: center;
  font-size: 3em;
  text-decoration: none;
  color: #FCEBB6;
}

nav {
  text-align: center;
  font-size: 1.5em;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 0px 15px;
}

nav a, nav a:visited {
  text-decoration: none;
  color: #FCEBB6;
}

nav a.selected, nav a:hover {
  text-decoration: none;
  color: #78C0A8;
}

.platform h3 {
  margin: 0 0 20px;
  text-align: center;
}



/******************************
 PROJECTS
******************************/

.projects {
  padding: 0;
}

.project {
  overflow: hidden;
  position: relative;
  list-style-type: none;
  min-height: 110px;
}

.project-body-list {
  list-style-type: none;
  padding: 0;
}

a, a:visited, a:active {
  .project-thumb {
    color: #000;
  }
}

.project-source {
  float:right;
  margin-right: 20px;
  margin-top: 20px;

} 

.project-thumb {
  float: left;
  width: 144px;
  height: 90px;
  margin-right: 10px;

}

.project-thumb-img {  
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-title {
  font-weight: bold;
}

.project-body {
  width: auto;
}


/******************************
 FORMS
******************************/

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
  margin-bottom: 15px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}