/******************************
 GENERAL
******************************/

#wrapper {
  margin: 0 5%;
}


/******************************
 HEADER
******************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;  
  background-color: #5E412F;
  color: #FCEBB6;
}

#logo {
  width: 100%;
  text-align: center;
  font-size: 3em;
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  color: #FCEBB6;
}

nav {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Varela Round', sans-serif;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 0px 15px;
}

nav a, nav a:visited {
  text-decoration: none;
  color: #FCEBB6;
}

nav a.selected, nav a:hover {
  text-decoration: none;
  color: #78C0A8;
}

.platform h3 {
  margin: 0 0 20px;
  text-align: center;
}


/******************************
 PROJECTS
******************************/

.projects {
  padding: 0;
}

.project {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  list-style-type: none;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: whitesmoke;
}

.project h4 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: .5em;
  a, a:visited, a:active {
    text-decoration: none;
  }
}

.project-thumb {
  width: 144px;
  display: block;
  margin: 10px auto;
  a, a:visited, a:active {
    color: #000;
  }
}

.project-thumb-img {  
  display: block;
  max-width: 144px;
  max-height: 90px; 
  margin: 0 auto;
}

.project-source-wrapper {
  text-align: center;
}

.project-source {
  display: inline-block;
  background-image: url(image-path("GitHub-Mark-32px.png"));
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding-left: 20px;
} 

@media only screen and (min-width: 768px)  {
  .project-thumb {
    float: left;
    margin-right: 32px;
  }

  .project-source-wrapper {
    float: left;
  } 

  .project-source {
    clear: left;
  }
}

/******************************
CLEARFIX
*******************************/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}



/******************************
 FORMS
******************************/

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
  margin-bottom: 15px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}