.contact-info {
	margin-top: 20px;
}

.link-image:hover {
	text-decoration: none;
}

link-image:active {
	text-decoration: none;
}

.projects {
	list-style-type: none;
}


.contact-panel {
	float:right;
	min-width: 300px;
	text-align: center;
	margin-left: 20px;
}

.contact-photo {
	margin-top: 24px;
}

.contact-icons {
	margin-top: 12px;

	a:link {
		text-decoration: none;
	}

	a:visited {
		text-decoration: none;	
	}

	a:hover {
		text-decoration: none;
	}

	a:active {
		text-decoration: none;
	}
}

.contact-icon {
	width: 24px;
	height: 24px;

}


.uc {

	.well {
		padding-top: 0px;
	}

	.section-title {
		text-align: center;
		font-size: 36px;
		padding-bottom: 20px;
	}

	.project-show {
		min-height: 600px;
	}

	.project-info {
		position: static;
	}

	.project-descrip {
		padding-bottom: 100px;
	}
	
	.downloads {
		bottom: 0;
	}

	.simplelist {
		list-style-type: none;
		padding: 0;
		margin: 0;	
	}

	.old-project-show {
		min-height: 600px;
	}

	.old-project-title {
		text-align: center;
		font-weight: bold;
	}



}

#galleria{height:600px;}
#galleria1{height:600px;}
#galleria2{height:600px;}
#galleria3{height:600px;}